<h1>Edit Article</h1>

<%= form_with model: @article, url: update_article_path(@article), local: true do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
    </p>

    <img src="<%= image_path @article.img_name.downcase %>" class="article_img">

    <p>
        <%= f.label :body %><br>
        <%= f.text_field :body %><br>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
